version: '3.8'

services:
    php:
        build:
            dockerfile: docker/php.dockerfile
            context: .
        volumes:
            - .:/app
        links:
            - rabbitmq

    rabbitmq:
        build:
            dockerfile: docker/rabbitmq.dockerfile
            context: .
        hostname: rabbitmq-server
        ports:
            - 5672:5672
            - 15672:15672
        # volumes:
        # - ${BACKUP_PATH}/rabbitmq/amqp-package:/var/lib/rabbitmq/mnesia/
